.footer {
  width: 100%;
  background-color: $color_primary-1;
  text-align: center;

  p, a {
    margin: 0;
    padding: 0;
    padding: 1rem 0;
    @include px_rem(12);
    color: $color_secundary-2;
  }

}
