.logout_back {width: 100%; display: flex; justify-content: space-between; @include px_rem(22);
  .back{color:$color_primary-1 }
  .logout{color:$color_primary-2;padding-right: 4rem !important;margin-right: 0 !important;}
  i { margin: 3rem 4rem 2rem 4rem ;}
  h1{margin-top: 3rem;}
}
