.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 150px);

  &.send-tcc {
    height: auto !important;
    padding-bottom: 3rem;
  }

  &.main-table, &.main-login {
    overflow: auto;    
    height: calc(100% - 79px);
  }

  &.main-list-students {
    justify-content: flex-start;
    min-height: calc(100% - 151px);
    height: auto;
  }
}