
.header_nav-mobile{
  display: flex;
  justify-content: flex-end;
  text-align: right;
  background-color: $color_border;
  position: absolute;
  width: 100%;
  transform: translate3d(0, -200px, -200px);
  transition: .3s ease-out;
  opacity: 0; 

  &.show {
    z-index: 1;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.nav_mobile-menu {
  width: 100%;
  padding-left: 0;
  list-style: none;
}

.mobile_menu-item{
  margin: 0 1rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  @include px_rem(16);
  
  &.active {
    border-bottom: 3px solid $color_primary-2;
    a {
      color: $color_primary-2;
    }
  }

  a {
    text-decoration: none;
    color: $color_secundary-1;
    transition: .3s ease-out; 

    &:hover{
      color: $color_primary-2;
    }
  }
}