.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav-menu {
  display: flex;
  list-style: none;
  margin-right: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.nav_menu-item {
  margin: 0 1rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  @include px_rem(16);
  
  &.active {
    border-bottom: 3px solid $color_primary-2;
    a {
      color: $color_primary-2;
    }
  }

  a {
    text-decoration: none;
    color: $color_secundary-1;
    transition: .3s ease-out; 

    &:hover{
      color: $color_primary-2;
    }
  }
}

