.send {
  border: 1px solid $color_border;
  padding: 3rem 6rem;
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
}

.send_content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 7rem;
}

.send_content-photo {
  margin: 0;
}

.send_content-description {
  @include px_rem(16.5);
  margin: 0 4rem;

  &.student {
    width: 60%;
    padding-left: 6rem;
  }

  p {
    max-width: 53rem;
    color: $color-primary-1;
    margin-bottom: 5rem;

    strong {
      color: $color-primary-2;

      a {
        color: $color-primary-1;
      }
    }
  }
}
