
.dataTable-wrapper {
  max-width: 90%;
  width: 90%;
  height: 85%;
  font-size: 1.5rem;
}

td { width: 11%;}
tr:nth-child(even) {background: #d8d8d8}
tr:nth-child(odd) {background: #FFF}
.dataTable-sorter::after, .dataTable-sorter::before{display: none;}

.dataTable-input {outline: none;}

.dataTable-wrapper.no-footer .dataTable-container {
  overflow: auto;
}

