@media only screen and (max-width:1280px) {}

@media only screen and (max-width:1140px) {}

@media only screen and (max-width:1024px) {
  .nav_menu-item {font-size: 14px;}
  .login {width: 30%;}
  .options a {width: 30%;}
}

@media only screen and (max-width:850px) {
  .main {
    &.student_acc { margin-bottom: 3rem; height: auto;}
    &.class {
      height: calc(100% - 120px);
    }
  }
  .login {width: 35%;}
  .option {height: 30rem;}
  .option .option_title{ margin-top: -3rem;margin-bottom: 5rem;}
}

@media only screen and (max-width:768px) {
  .main {
    &.class {
      height: calc(100% - 65px);
    }
  }
  .main-options {align-items: flex-start; height: auto;}
  .header_nav-menu {display: none;}
  .button.button_mobile {display: flex;}

  .send {margin-bottom: 3rem; height: auto;}  
  .send_content{flex-wrap: wrap;}
  .send_content-description {
    &.student_account {width: 100%; padding: 0; margin: 0; margin-top: 3rem;}
  }
  .login{width: 45%;}

  .options{flex-direction: column; align-items: center; }
  .options a{ width: 90%; margin: 2rem 0}

  .modal_content {max-height: 40rem; overflow: auto;}
  .modal_content-items {flex-direction: column;}
  .modal_content-items-individual {width: 100%;}
  .divisor{width: 100%; height: 1px; 
    &.students {margin-bottom: 3rem;}
    &.tcc {margin: 3rem 0 2rem 0; height: 1px;}
  }

}

@media only screen and (max-width:480px) {

  .login {width: 75%;}

  .send {padding: 3rem 0; width: 85%;}
  .send_content {margin-top: 1rem;}
  .send_content-description {width: 80%;
    &.student_account {width: 90%; padding: 0; margin: 0;margin-top: 3rem;}
  }

  .field_upload .field_input {width: 15rem;}

  .dataTable-top { display: flex; flex-direction: column; justify-content: space-between;}
  .dataTable-dropdown { margin-bottom: .5rem }
}

@media only screen and (max-width:320px) {}

@media print, (-o-max-device-pixel-ratio: 5/4), (-webkit-max-device-pixel-ratio: 1.25), (max-resolution: 120dpi) {}
