//----------------------------------*\
// BUTTON SINTAXE
// <button class="button button_{type}">{name}</button>
// BUTTON UPLOAD
//----------------------------------*/

.button {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  border-radius: 3px;
  border: none;
  background-color: #3a5461;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.33);
    opacity: .9;
  }

  &.button_update, &.button_send, &.button_login {
    @include px_rem(16);
    letter-spacing: 2px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 3rem;
  }

  &.button_view {
    width: 100%;
    @include px_rem(16);
    letter-spacing: 2px;
    font-weight: bold;
    height: 40px;
    margin-top: 2rem;

    a {
      color: $color_secundary-2;
      text-decoration: none;
    }
  }

  &.button_upload {
    font-weight: 200;
    font-size: 36px;
    width: 40px;
    height: 40px;
  }

  &.button_mobile {
    padding: 5px 8px;
    @include px_rem(20);
    display: none;
    border-radius: 2px;
    margin-right: 2rem;
  }

  &.button_table {
  
    background-color: white;
    color: $color-primary-1;
    border: 1px solid $color-primary-1;
    width: 4rem;
    height: 3.5rem;
    @include px_rem(20);
    margin: 5px 2.5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.22);
    }

    a {
      color: #262626;
    }
  }
}

.field_button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

