//----------------------------------*\
// INPUT SINTAXE
//
// <div class="field_general">
//  <label for="name" class="field_label">{name}</label>
//  <input type="text" class="field_input">
// </div>
//
// <div class="field_upload">
//  <button class="button button_upload"><i class="fas fa-angle-up"></i></button>
//  <input type="text" class="field_input">
// </div>
//----------------------------------*/

.field_general {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 100%;

  &.check{
    flex-direction: row;
    align-items: center;
    label{margin-right: 1rem; margin-bottom: 0;}
  }
  .field_label {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #8c8c8c;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .field_input {
    width: calc(100% - 20px);
    height: 40px;
    padding: 0 10px;
    @include px_rem(14);
    color: #8c8c8c;
    border: solid 1px #d5ddde;
    outline: none;
  }
}

.file {
  width: 80%;
}

.field_upload {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @include px_rem(14);

  .field_input {
    width: 25rem;
    height: 40px;
    padding: 0 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #8c8c8c;
    color: #8c8c8c;
    margin-left: 10px;

    &.input_tcc {
      width: 100%;
    }
  }
}
