.load {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: $color_secundary-2;
  
  display: flex;
  justify-content: center;
  align-items: center;
    
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-left-color: $color_primary-1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to { transform: rotate(360deg);}
  }  
}

