.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.80);
}

.show {display: flex !important};
.modal_content {animation: modal .2s;}
.modal_content {width: 60%; height: auto; background-color: $color_secundary-2; padding: 2rem; box-shadow: 0 6px 12px 0 rgba(0,0,0,.26);padding-bottom: 3rem;}
.modal_content-close {width: 100%; display: flex; justify-content: flex-end;color: $color_secundary-1; @include px_rem(25);}
.modal_content-close i {cursor: pointer;}

.modal_content-title {width: 100%; display: flex; justify-content: center; margin-bottom: 3rem;}
.modal_content-title h1 {margin-top: 0;}

.modal_content-items {display: flex; justify-content: space-around;}
.modal_content-items-individual {width: 40%;}
.divisor {content: '';display: block; height: 30rem; width: 1px; background-color: $color_secundary-1;
  &.tcc { height: 39rem;}
}

.content_items-button { display: flex;justify-content: flex-end;  height: 10rem; align-items: flex-end;}
.button_send {margin-top: 1rem !important;}

.content_items-upload {margin-top: 3rem ;margin-bottom: 5rem !important;}
.modal_content-items-individual p {@include px_rem(14); color:$color_primary-1;}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0,-40px,0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);

  }
}

