// OPTION SINTAXE
//  <a href="#">
//   <div class="option">
//     <h1 class="option_title title">Gerenciar Aluno</h1>
//     <figure class="option_figure">
//       <img src="./assets/images/{image}" alt="Ícone para {action}">
//     </figure>
//   </div>
//  </a>
//----------------------------------*/

.option{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35rem;
  border:1px solid $color_border;
  transition: .3s ease-out;

  &:hover{
    box-shadow: 0.2px 2px 18.1px -1.1px rgba(0, 0, 0, 0.25);
  }
  .option_title{
    margin-top: -9rem;
    margin-bottom: 6rem;
  }
}
