//----------------------------------*\
// TITLES SINTAXE
// <h1 class="title title_{type}">{title}</h1>
// MODAL
// <h1 class="title title_{type}">{first-word}<em class="title_{type}-{type-secundary}">{second-word}</em></h1>
//----------------------------------*/
em{ font-style: initial; }

.title{
  color: $color_primary-1;
  text-transform:uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-color: $color-secundary-2;
  width: 20rem;

  &.title_login {
    width: 25rem;
    margin: auto;
  }

  &.title_send {
    margin-top: -4rem;
  }

  &.title_login {
    margin-top: -4rem;
    margin-bottom: 6rem;
  }

  &.title_modal{
    width: 25rem;
    font-size: 24px;
    letter-spacing: 0.6px;
    color: $color-primary-1
  }
  .title_modal-item{color: $color-primary-2}
}
