.error { 
  color: red !important; 
  font-size: 14px;
  margin-bottom: 0 !important;
}

.success {
  color: green !important;
  font-size: 14px;
  margin-bottom: 0 !important;
}

.await {
  color: orange !important;
  font-size: 14px;
  margin-bottom: 0 !important;
}

